<h1> <%= question_header(@test) %></h1>
<%= form_with model: @question, local: true do |form| %>
  <%= render 'shared/errors', resurce: @question%>
  <%= form.label :body, "body" %>
  <%= form.text_field :body %>
  <%= form.submit %>  
<% end %>
<%= render "nav" %>
