<h1> <%= question_header(@test) %></h1>
<%= form_with model: [@test, @question], local: true do |form| %>
  <%= render 'shared/errors', resurce: @question%>
  <%= form.label :body, "body" %>
  <%= form.text_field :body %>
  <%= form.submit %>  
<% end %>

<%= link_to "List Test's questions", test_path(@test) %>
