<div class='row text-center'>
  <div class='col-12'>
    <h1 class="text-center"><%= t('.header') %></h1>

    <table class="table table-success table-striped table-sm" >
      <thead class="table-dark">
        <tr class="text-center">
          <th scope="col" style="width: 30%"><%= t('.img') %></th>
          <th scope="col" style="width: 30%"><%= t('.name') %></th>
          <th scope="col" style="width: 25%"><%= t('.rule') %></th>    
          <th colspan = '2' scope="col" style="width: 15%"><%= t('.action') %></th>
        </tr> 
      </thead>  
        <%= render @badges %>
    </table>
    <%= link_to t("nav.create"), new_admin_badge_path%>
  </div>
</div>

