
<div class = 'tip-admin'>
  <span div = class 'nav-admin title'> <%= t('.panel')  %></span>  |
  <% if user_signed_in? %>
    <div class = 'welcome admin'> <b><%= t(".welcome", admin: current_user.name.capitalize) %></b> ! </div>    
  <% end %>

  <div class = 'aut_nav-admin'>
    <%= link_to "Project TetsGuru", admin_tests_path %> |
    <% if user_signed_in? %>
      <%= link_to "Logout", destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to "Sign up", new_user_registration_path %> |
      <%= link_to "Log in", new_user_session_path %> 
    <% end %>
  </div>
</div>
<p></p>
