<div class = 'tip'>
  <% if user_signed_in? %>
    <div class = 'welcome user'> <%= t('.welcome', user: current_user.name.capitalize) %></div>    
  <% end %>

  <div class = 'aut-nav'>
    <%= link_to "Project TetsGuru", tests_path %> |
    <% if user_signed_in? %>
      <%= link_to "Logout", destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to "Sign up", new_user_registration_path %> |
      <%= link_to "Log in", new_user_session_path %> 
    <% end %>
  </div>
</div>
<p></p>