<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="container-fluid d-flex">

    <%= link_to "Project TetsGuru", root_path, class: 'navbar-brand' %> 
    <% if user_signed_in? %>     
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarID"
        aria-controls="navbarID" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarID">
      <ul class="navbar-nav flex-grow-1">
        <% if current_user.admin?%>
        <li class="nav-item">
          <a class="nav-link" href=<%= admin_tests_path %>><%= t('.list') %></a>
        </li>        
        <% else %>
        <li class="nav-item">
          <a class="nav-link" href=<%= tests_path %>><%= t('.list') %></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href=<%= gists_path %>><%= t('.gists') %></a>
        </li>

        <% end %>
      </ul>  
      
        <strong class="position-absolute top-50 start-50 translate-middle">Passage Test Panel</strong>  
      <% end %>
    </div>

    <div class="container d-inline-flex justify-content-end col-4">
      <% if user_signed_in? %>
        <strong class="position-absolute top-50 translate-middle col-2">
        <%= t('.welcome', user: current_user.name.capitalize )%> |
        </strong>
      <% end %>

      <ul class="navbar-nav">   
        <li class="nav-item<%= " active" if I18n.locale == :ru %>" >
          <%= link_to "Рус", { lang: :ru }, class: "nav-link" %>     
        </li>
        <li class="nav-item <%= " active" if I18n.locale == :en %>" >
          <%= link_to "En", { lang: :en }, class: "nav-link" %>     
        </li>
        <li class="nav-item">
          <%= link_to t('.logout'), destroy_user_session_path, class: "nav-link", method: :delete %>
        </li>
      </ul>
    <div>
  </div>
</nav>
