<h1><%= t('.header', title: @result.test.title) %></h1>
<b><strong>
  <%= t('.questions', count: @result.test.questions.count) %>
</b></strong>

<p>
  <b>
    <%= t('.question', number: @result.number_question) %><br>
    <i><%= @result.current_question.body %></i>
  </b>
</p>

<%= form_with url: result_path(@result), local: true, method: :put do |form| %>
  <%= form.collection_check_boxes :answer_ids, @result.current_question.answers, :id, :body, include_hidden: false do |b| %>
    <p>
      <%= b.check_box id: "answer_ids_#{b.object.id}" %>
      <%= b.label %>
    </p>
  <% end %>

  <p><%= link_to  "Gist Question", gist_result_path(@result), method: :post %></p>
  <p><%= form.submit t('.next')%></p>
<% end %>
