<p><strong> <%= t('.question') %> "<%= @question.body %>" </strong></p>

<h2><%= t('.answer') %></h2>
<%= link_to  t('.create'), new_admin_question_answer_path(@question) %>

<ol>
  <%= render partial: 'admin/answers/answer', collection: @question.answers %>

</ol>

<%= render "nav" %>
