<p>
  <%= form_with model: [:admin, @test], local: true do |form| %>
  <%= render 'shared/errors', resource: @test %>
  <p>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </p>
  <p>
    <%= form.label :level %>
    <%= form.number_field :level, min: '0' %>
  </p>
  <p>
    <%= form.label :category_id %>
    <%= form.collection_select :category_id, Category.all, :id, :translate_title, prompt: true %>
  </p>

  <p>
    <%= form.label :time_limit %></br>
    <%= form.label :hours %>
    <%= select_hour limit(@test)[:hours] , prefix: :time_limit %>
    <%= form.label  :minutes %>    
    <%= select_minute limit(@test)[:min], prefix: :time_limit %>
    <%= form.label :seconds %>    
    <%= select_second limit(@test)[:sec], prefix: :time_limit %>
  </p>

  <%= form.submit %>
  <% end %>

</p>
