<tr>
  <td><%= "#{test.title}" %></td> 
  <td class="text-center"><%= " #{test_level(test)}" %></td>
  <td class="text-center"> <%= " #{test.questions.count}" %></td> 
  
  <td><%= link_to t('nav.show'), admin_test_path(test) %></td> 
  <td><%= link_to t('nav.edit'), edit_admin_test_path(test) %></td> 
  <td><%= link_to t('nav.del'), admin_test_path(test), method: 'delete', data: { confirm: 'Are you sure?' } %></td> 
</tr>
