<strong><%= t('.header', title: @test.title) %></strong>
<p><strong><%= t('.level') %> <%= @test.level %> </strong></p>
<p> <%= t('.author') %><%= User.find(@test.author_id).name %> </p> 
<%= link_to t(".create"), new_admin_test_question_path(@test) %>
<p></p>

<table>
  <tr> <th><%= t(".body") %></th> <th colspan = "3" align = "center"> <%= t('.action')%></th></tr>
  <%= render partial: 'admin/questions/question' , collection: @test.questions %>
</table>

<%= render 'nav' %>
