<strong><%= t('.header', title: @test.title) %></strong>
<p></p>
<p><%= t('.level') %> <%= @test.level %></p>
<p> <%= t('.author') %><%= User.find(@test.author_id).name %> </p> 
<p> Time for test : <%= time_duration[:time_str] %></p>


<%= link_to t(".create"), new_admin_test_question_path(@test) %>
<p></p>

<table>
</table>

<div class='row justify-content-left'>
  <div class='col-10'>
    <table class="table table-success table-striped table-sm">
      <thead>
        <tr class="text-center table-dark"> 
          <th scope="col" style="width: 60%"><%= t(".body") %></th> 
          <th scope="col" style="width: 20%" colspan = "3"> <%= t('.action')%></th>
        </tr>
        <%= render partial: 'admin/questions/question' , collection: @test.questions %>
    </table>
  </div>
</div>

<%= render 'nav' %>
