 <%=render 'shared/flash' %>
<strong>Test "<%= @test.title%>" Questions<strong>
<p><strong>level of difficulty: <%= @test.level%> </strong></p>
<p> Author: <%= User.find(@test.author_id).name  %> </p> 
<%= link_to "Create New Question", new_test_question_path(@test) %>
<p></p>
<table>
  <tr> <td>Question body</td> <td colspan = "3" align = "center"> Action </tr>
  <%= render @test.questions %>
</table>

<%= render 'nav' %>

